.album {
  height: 180px;
  width: 180px;
  padding: 5px;
  background-color: lightgrey;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  margin: 5px;
}

.album:hover {
  background-color: #007aff;
  color: white;
}

.albumImage {
  height: 150px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
}

.albumImage img {
  height: 50px;
  width: 50px;
}

.albumName {
  padding: 8px;
  text-align: center;
  font-weight: 550;
}
