.imageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.7);
  overflow: hidden;
}

.image {
  height: 90%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.clostBtn {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.clostBtn:hover {
  scale: 1.2;
}
.clostBtn img {
  height: 100%;
  width: 100%;
}
