.imageContainer {
  height: 180px;
  width: 180px;
  padding: 5px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  margin: 10px 5px;
  box-shadow: 1px 1px 2px 2px rgb(230, 230, 230);
  border-radius: 6px;
  position: relative;
}

.image {
  height: 150px;
  width: 160px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: white;
}

.image img {
  height: 100%;
  width: 100%;
}

.imageTitle {
  padding: 8px;
  font-weight: 200;
}

.operations {
  display: none;
  position: absolute;
  top: -12px;
  right: -5px;
}

.operations > div {
  height: 30px;
  width: 30px;
}

.operations img {
  height: 100%;
  width: 100%;
}

.updateBtn {
  margin-right: 10px;
}

.imageContainer:hover .operations {
  display: flex;
}
