.imageListContainer {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  /* border: 1px solid black; */
}

.previousBtn {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 2px 2px lightgray;
}

.previousBtn img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  scale: 0.5;
  transition: all 0.1s ease;
}

.previousBtn:hover img {
  scale: 0.6;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBtn {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.searchBtn img {
  height: 100%;
  width: 100%;
  scale: 0.6;
}

.addBtn {
  font-size: 14px;
  background-color: rgb(208, 229, 255);
  color: rgb(12, 126, 255);
  font-weight: 550;
  border: 2px solid rgb(12, 126, 255);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  margin-left: 20px;
}
.addImageBtn {
  font-size: 14px;
  background-color: rgb(208, 229, 255);
  color: rgb(12, 126, 255);
  font-weight: 550;
  border: 2px solid rgb(12, 126, 255);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelImageBtn {
  font-size: 14px;
  background-color: rgb(255, 218, 218);
  color: rgb(255, 19, 0);
  font-weight: 550;
  border: 2px solid rgb(255, 19, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.searchBar {
  display: flex;
  align-items: center;
}

.searchBarInput {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.searchBarInput:focus {
  outline: none;
}
.searchBarCrossBtn {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}

.searchBarCrossBtn img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .imageListContainer {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .imageListContainer {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .imageListContainer {
    width: 99%;
  }
}
