.searchContainer {
  width: 100%;
  color: #7064e5;
  text-align: center;
  margin: 20px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-size: 16px;
  width: 70%;
  color: #7064e5;
  padding: 10px 40px 10px 15px;
  border-color: #7064e5;
  border-radius: 15px;
  border-width: 1px;
}

.form:focus {
  outline: none;
  box-shadow: 0px 0px 4px 2px lightgray;
}

.crossBtn {
  /* position: absolute; */
  height: 15px;
  width: 15px;
  right: 13.8%;
  margin-left: -26px;
  cursor: pointer;
  color: black;
  border-radius: 2px;
}

@media screen and (max-width: 800px) {
  .crossBtn {
    right: 13%;
  }
}

@media screen and (max-width: 700px) {
  .crossBtn {
    right: 12.5%;
  }
}

@media screen and (max-width: 600px) {
  .crossBtn {
    right: 8%;
  }
  .form {
    width: 79%;
  }
}

@media screen and (max-width: 500px) {
  .crossBtn {
    right: 7%;
  }
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .crossBtn {
    right: 5%;
  }
}
