.mainContainer {
  position: relative;
  margin-top: 4%;
}

.productListContainer {
  width: 75%;
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
