.content {
  width: 100%;
  /* border: 1px solid black; */
  background-color: white;
  height: 100%;
  padding-top: 0px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image {
  height: 80px;
  width: 80px;
  margin: auto;
}

.image > img {
  height: 100%;
  width: 100%;
}
