.content {
  width: 50%;
  /* border: 1px solid black; */
  background-color: white;
  height: 100%;
  padding: 20px;
  padding-top: 0px;
}

.heading {
  padding: 10px;
}

.option {
  padding: 10px;
  color: rgb(100, 100, 255);
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  background-color: rgb(100, 100, 255);
  color: white;
}

.selectedElement {
  height: 8px;
  width: 8px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  rotate: 45deg;
}
