.passwordContainer {
  position: relative;
}

.visibleIconContainer {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 24%;
  right: 11%;
}

.visibleIconContainer img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
