.passwordContainer {
  position: relative;
}

.visibleIconContainer {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 24%;
  right: 11.5%;
}

.visibleIconContainer img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .visibleIconContainer {
    right: 10.2%;
  }
}

@media screen and (max-width: 500px) {
  .visibleIconContainer {
    right: 9.2%;
  }
}

@media screen and (max-width: 450px) {
  .visibleIconContainer {
    right: 9%;
  }
}
