* {
  color: #7064e5;
}

.navContainer {
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 4px 4px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start {
  padding-left: 100px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid black;
}

.end {
  overflow: hidden;
  font-size: 16px;
  border: 1px solid black;
  padding-right: 50px;
}

.end a {
  text-decoration: none;
}

.end a:hover .navText {
  color: #3498db;
}

.navItem {
  display: flex;
  height: 50px;
  align-items: center;
}

.end ul {
  list-style: none;
  padding: 0px;
}

ul li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.logo {
  height: 100%;
  width: 50%;
  margin-right: 8px;
}

.navText {
  text-decoration: none;
  text-wrap: nowrap;
  font-weight: 550;
  transition: all 0.2s ease-in;
}

.navListIcon {
  display: none;
  height: 30px;
  width: 30px;
  padding-right: 20px;
  cursor: pointer;
}

.navListIcon img {
  height: 100%;
  width: 100%;
}
.navList {
  display: none;
}
.navListIcon:hover .navList {
  display: block;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .start {
    padding-left: 90px;
    padding-right: 45px;
  }

  .end {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .start {
    padding-left: 60px;
    padding-right: 30px;
  }

  .end {
    padding-right: 30px;
  }
  ul li {
    display: inline-block;
    padding: 0px 15px 0px 15px;
  }
}

@media screen and (max-width: 1050px) {
  .start {
    padding-left: 50px;
    padding-right: 25px;
  }

  .end {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .start {
    padding-left: 35px;
    padding-right: 20px;
  }

  .end {
    padding-right: 0px;
  }

  ul li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 700px) {
  .start {
    padding-left: 20px;
    padding-right: 10px;
  }

  .end {
    padding-right: 0px;
    display: none;
  }

  .navListIcon {
    display: flex;
  }
}
