.filterContainer {
  display: block;
  position: fixed;
  /* border: 1px solid black; */
  left: 0;
  top: 40%;
  padding: 10px 40px 10px 10px;
  border-radius: 5%;
  background-color: rgb(240, 240, 252);
}

.filterTitle,
.categoryTitle {
  font-size: 18px;
  text-align: center;
  font-weight: 550;
  padding: 5px 0px;
  color: rgb(65, 94, 92);
  margin-top: 10px;
}

.filterPrice {
  text-align: center;
  margin: 4px 0px;
}

.category {
  padding: 5px 0px;
}

.filterRangeInput {
  color: black;
  background-color: green;
}
