body {
  margin: auto;
  margin: 0px;
  min-width: 300px;
}

.appContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
