body {
  margin: auto;
  margin: 0px;
  min-width: 300px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: lightgrey;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#3498db, #7064e5);
  border-radius: 4px;
}

.appContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.errors {
  text-align: end;
  margin-right: 9%;
  margin-top: -2%;
  margin-bottom: -3%;
  color: red;
}
