.displayContainer {
  height: 48%;
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  background: rgb(2, 0, 36);
  overflow: hidden;
  vertical-align: middle;
  /* background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(199, 39, 39, 1) 0%,
    rgba(121, 9, 81, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-image: url("../../public/r.jpg");
}
