.displayContainer {
  height: 45%;
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}
